* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #000;
    color: #fff;
    margin-top: 70px; 
    justify-content: center;
    align-items: center;
}

/* NAV */
header {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}

/*DARK MODE*/
.darkBtn {
    display: inline-block;
    width: 50px; 
    height: 50px;
    padding: 0; 
    background-image: url(../ContentImage/DarkModeMoon.png); 
    box-shadow: 0 0 25px rgba(255, 255, 0, 0.9); 
    background-position: center; 
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    position: fixed;
    margin-top: 50px;
    margin-left: 38px;
    transition: background-image 0.2s ease;
}

.dark-mode .darkBtn{
    background-image: url(../ContentImage/DarkModeSun.jpg); 
    box-shadow: 0 0 25px rgba(255, 255, 0, 0.9); 
}

.dark-mode .portfolio-item {
    background-color: #000000;
    color: white;
}

.dark-mode .portfolio-item p {
    background-color: #000000;
    color: white;
}

.dark-mode .darkBtn{
    background-color: white;
    color: black;
}

.dark-mode #contact {
    background-color: #000000;
    color: white;
}

.dark-mode #contact h2{
    color: white;
}

.dark-mode #about{
    background-image: url(../BackgroundImage/BackgroundAbout.jpg);
    color: white;
}

.dark-mode #about img{
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.9);
}

.dark-mode #about h2{
    color:white;
}

.dark-mode #about p{
    color: white;
}

.dark-mode #about .skills{
    box-shadow: 0 0 30px rgba(0, 170, 255, 0.9);
}

.dark-mode #about .experience{
    box-shadow: 0 0 30px rgba(0, 170, 255, 0.9);
}

.dark-mode footer {
    background-color: #000000;
    color: white;
}
/*DARK MODE*/



nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #00aaff;
}
/* NAV */

/*HERO*/
#hero {
    background-image: url('../BackgroundImage/BackgroundHero.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Menetapkan gambar latar belakang tetap */
    color: white;
    text-align: center;
    padding: 10em 0;
}


.hero-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1em;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.btnCenter {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    margin-top: 20px; 
}


.cta-button {
    display: flex;
    width: 170px;
    height: 45px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    color: white;
    text-shadow: 2px 2px rgb(116, 116, 116);
    text-transform: uppercase;
    cursor: pointer;
    border: solid 2px black;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    background-color: hsl(49deg 98% 60%);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
    
  }
  
  .cta-button:active {
    transform: scale(0.9);
    transition: all 100ms ease;
  }
  
  .cta-button svg {
    transition: all 0.5s ease;
    z-index: 2;
  }
  
  .play {
    transition: all 0.5s ease;
    transition-delay: 300ms;
  }
  
  .cta-button:hover svg {
    transform: scale(3) translate(50%);
  }
  
  .now {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    z-index: 2;
  }
  
  .cta-button:hover .now {
    transform: translateX(10px);
    transition-delay: 300ms;
  }
  
  .cta-button:hover .play {
    transform: translateX(200%);
    transition-delay: 300ms;
  }
/*HERO*/
  
/*ABOUT */
#about {
    background-color: #f8f9fa; 
    padding: 4em 0;
    text-align: center;
}

#about h2 {
    color: #333; 
    margin-bottom: 1em; 
}

.container {
    max-width: 800px; 
    margin: 0 auto; 
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em; 
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1em; 
}

.about-content p {
    color: #666; 
    font-size: 1.1em;
}

.skills {
    background-color: #fff; 
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 170, 255, 0.4);
    text-align: left; 
    max-width: 600px; 
    margin: 0 auto; 
}

.skills h3 {
    text-align: center;
    color: #333; 
    margin-bottom: 20px; 
}

.skills ul {
    text-align: center;
    list-style-type: none; 
    padding: 0; 
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 1em;
}

.skills li {
    color: #666; 
    font-size: 1em;
    margin-bottom: 0.5em; 
    position: relative; 
}

.skills li:not(:last-child)::after {
    content: '';
    position: absolute; 
    bottom: -0.25em; 
    left: 0; 
    width: 100%; 
    border-bottom: 1px solid #ccc; 
}

.experience {
    background-color: #fff; 
    padding: 1.5em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 170, 255, 0.4);
    text-align: left; 
    max-width: 600px; 
    margin: 0 auto; 
}

.experience h3 {
    text-align: center;
    color: #333; 
    margin-bottom: 20px;
}

.experience ul {
    list-style-type: disc; 
    padding-left: 0; 
}

.experience li {
    color: #333;
    font-size: 1.1em;
    line-height: 1.6;
    border-bottom: 1px solid #ccc; 
    padding-bottom: 10px;
    margin-bottom: 10px; 
}
/*ABOUT */

/*PORTOFOLIO*/
#portfolio {
    background-image: url(../BackgroundImage/BackgroundPortofolio.jpg);
    background-size: cover;
    background-position: center;
    padding: 4em 0;
    position: relative; 
}

#portfolio h2 {
    text-align: center; 
    color: #fff; 
}

.warning-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px 0;
}

.warning-message {
    background-color: #fff3cd;
    border: 1px solid #ffcc00;
    color: #856404;
    border-radius: 8px;
    font-size: 1.2em;
    padding: 10px 20px;
    margin-top: 10px;
    text-align: center;
    max-width: 600px;
    width: 100%;
    opacity: 0; /* Mulai dengan opacity 0 */
    transform: scale(0.9); /* Mulai dengan scale kecil */
    transition: opacity 0.4s ease, transform 0.4s ease; /* Transisi yang lebih halus */
    display: none; /* Sembunyikan pesan secara default */
}

/* Icon styling */
.warning-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffcc00;
    color: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
}


#portfolio .portfolio-item img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 5px;
    margin-bottom: 1em;
    transition: transform 0.3s;
}

.portfolio-navigation {
    text-align: right; 
    margin-bottom: 0;
    position: absolute;
    top: 10px; 
    right: 20px; 
}

.slideBtn{
    display: flex;
    width: 170px;
    height: 45px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    color: white;
    text-shadow: 2px 2px rgb(116, 116, 116);
    text-transform: uppercase;
    cursor: pointer;
    border: solid 2px black;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    background-color: hsl(49deg 98% 60%);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease; 
}

.slideBtn:active {
    transform: scale(0.9);
    transition: all 100ms ease;
  }

.portfolio-navigation button {
    background: none; 
    border: none; 
    color: #00aaff; 
    font-size: 16px; 
    cursor: pointer;
    text-decoration: none; 
    margin-left: 10px; 
    padding: 0; 
}

.portfolio-navigation button:hover {
    color: #0056b3;
}

.portfolio-grid {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center; 
    gap: 2em;
    position: relative;
    padding-top: 60px;
}

.portfolio-item {
    background-color: white;
    color: black;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
    max-width: 300px; 
    margin: 10px; 
    display: none; 
}

.portfolio-item.active {
    display: block; 
}

.portfolio-item:hover img {
    transform: scale(1.05);
}

.portfolio-item h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.portfolio-item p {
    font-size: 1em;
    color: black;
}

.social-icon1 {
    display: inline-block; 
    padding: 10px;
    color: #007BFF; 
    text-decoration: none; 
    transition: background-color 0.3s, transform 0.3s;
    font-size: 25px;
}

.social-icon1:hover {
    color: #fff; 
    transform: scale(1.1); 
}

.view-link {
    display: inline-block; 
    padding: 5px 10px; 
    background-color: #007BFF; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

.view-link:hover {
    background-color: #0056b3;
}

.view-link {
    display: inline-block; 
    padding: 5px 10px;
    background-color: #007BFF; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px; 
    transition: background-color 0.3s; 
    margin-left: 8px;
}

.view-link:hover {
    background-color: #0056b3; 
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; 
}
/*PORTOFOLIO*/


/*CONTACT*/
#contact {
    background-color: #f9f9f9;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

#contact h2 {
    color: #333; 
    margin-bottom: 0.5em; 
}

#contact ul {
    list-style-type: none; 
    padding: 0; 
}

#contact li {
    color: #666; 
    font-size: 1.1em;
    margin-bottom: 1em; 
}

#contact a {
    color: #00aaff; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

#contact a:hover {
    color: #0056b3; 
}

.social-icons {
    margin-top: 1em; 
    display: flex; 
    justify-content: center;
}

.icon-link {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    color: #333; 
    font-size: 2em; 
    margin-right: 2em; 
    transition: color 0.3s ease; 
    margin-top: 45px;
}

.icon-link span {
    margin-top: 0.5em; 
    font-size: 0.4em; 
}

.icon-link:hover {
    color: #007bff; 
}
/*CONTACT*/

/*FOOTER*/
footer {
    background-color:  #14213d;
    color: white;
    text-align: center;
    padding: 2em 0;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer span{
    color: #00aaff;
}
/*FOOTER*/

/*RESPONSIVE*/
@media only screen and (max-width: 768px) {
    header {
        padding: 0.5em 0; 
        margin-top: 0; 
        height: 40px;
    }

    nav ul li {
        margin: 0 0.5em; 
        font-size: 0.8em; 
        position: relative; 
    }

    nav ul li::after {
        content: ''; 
        position: absolute; 
        height: 80%; 
        width: 1px;
        background-color: #ccc; 
        right: -5px; 
        top: 10%;
    }

    nav ul li:last-child::after {
        display: none; 
    }

    .hero-content h1 {
        font-size: 2em; 
    }

    .hero-content p {
        font-size: 1em; 
    }

    .btnCenter {
        flex-direction: column;
        align-items: center; 
    }

    button {
        width: auto; 
        font-size: 14px; 
    }

    .icon-link {
        margin-right: 0; 
        margin-bottom: 10px; 
        width: 100%; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        position: relative;
    }

    .icon-link::after {
        content: '';
        position: absolute;
        height: 80%; 
        width: 1px; 
        background-color: #ccc; 
        right: -5px; 
        top: 10%; 
    }

   
    .icon-link:last-child::after {
        display: none; 
    }

    .warning-message {
        top: 36%; /* Mengatur posisi dari atas */
        left: 5%; /* Mengatur posisi dari kiri */
        transform: translate(-50%, -50%); /* Mentranslate pesan agar tepat di tengah */
        width: 90%; /* Lebar 90% untuk tampilan HP */
        padding: 5px; /* Padding yang lebih besar untuk estetika */
        border-radius: 12px; /* Sudut lebih bulat */
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Tambahkan bayangan untuk memberi kedalaman */
    }

    .warning-container {
        flex-direction: column; /* Stack the icon and message vertically */
        align-items: center; /* Center items horizontally */
    }
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .hero-content h1 {
        font-size: 2.5em; 
    }

    .hero-content p {
        font-size: 1.1em; 
    }

    .warning-message {
        font-size: 1.1em;
        padding: 12px 18px;
    }

    .warning-icon {
        width: 22px;
        height: 22px;
    }
}

@media only screen and (min-width: 1025px) {
    .hero-content h1 {
        font-size: 3em; 
    }

    .hero-content p {
        font-size: 1.2em; 
    }
}
/*RESPONSIVE*/

